<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is <%= name %> profile</h1>
            <br>

            <!-- When looking at own profile and have token -->
            <% if(checkins) { %>

                <h2>Your check-ins:</h2>

                <ul>

                    <% checkins.forEach(function(checkin) { %>

                       <li> <%= checkin.venue.name %> in <%= checkin.venue.location.city %>, <%= checkin.venue.location.state %>. <%= checkin.venue.stats.usersCount - 1 %> other people have also checked in at <%= checkin.venue.name %></li>

                    <% }); %>

                </ul>

            <% } %>

            <!-- Link shows up if it's the person is viewing their own profile and they don't have an FS access token -->
            <% if(link) { %>
            <h2> <a href="<%= link %>">Click here to import your data from FourSquare</a> </h2>
            <% } %>

            <!-- When looking at someone else's profile and have token -->
            <% if(recent) { %>

                <h2> <%= name %> recent check-ins:</h2>

                <ul>

                   <li> <%= recent.venue.name %> </li>

                </ul>

            <% } %>


            <!-- No data shows up when the person is viewing someone else's profile -->
            <!-- and the person whose profile it is doesn't have an FS access token -->
            <!-- so we can't get any data to display -->
            <% if(no_data) { %>
            <h2> <%= no_data %> </h2>
            <% } %>


        </div>
    </main>
    
</body>
</html>